//$enable-gradients: true;
//@import '~bootstrap/scss/bootstrap';
$bootstrap-sass-asset-helper: true;
$font-size-base: 16px;
@import '~bootswatch/spacelab/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootswatch/spacelab/bootswatch';
@import '~react-table/react-table';
@import '~react-select/scss/default';

@import 'print';

//show the pointer when overing over search results
.rt-tr-group {
  cursor: pointer;
}